<!doctype html>
<html lang="en">

<head>
    <title>Todo Application In Flask With SQLite Database</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Set The Web Icon -->
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}">

    <!-- Box Icon link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename="CSS/style.css")}}">

</head>

<body>

    <div class="container my-5">
        <h3 class="my-5 text-center">Edit Todo</h3>
        <form action="{{url_for('updateTodo')}}" method="post">
            <div class="modal-body">
                <input type="hidden" name="todo_id" value="{{tdata.id}}">
                <div class="mb-3">
                    <label for="edit_todo_title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="edit_todo_title" id="edit_todo_title" aria-describedby="helpId" placeholder="Your Todo Title" value="{{tdata.title}}">
                </div>
                <div class="mb-3">
                    <label for="edit_todo_description" class="form-label">Description</label>
                    <textarea class="form-control" name="edit_todo_description" id="edit_todo_description" placeholder="Your Todo Description" rows="8">{{tdata.desc}}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </div>
        </form>
    </div>

    
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>